@import "../styles.scss";

ul{
    list-style: none;
}
header{
    @include simple-flex(center, flex-start, row);
    padding:0px 0 11px 11px;
    z-index:999;
    
    position: sticky;
    top: 0;
    background: #fafafa;
    height: 50px;

    
    .profile-user{
        @include simple-flex(flex-start,center, row );
        padding-top:15px;
        span{
            font-size:16px;
            font-weight: 600;
        }
        img, span{
            margin-right: 5px;
        }
    }

    nav{
        @include simple-flex(flex-start,flex-start, row);
        position: fixed;
        right: 0;
        #toggle{
                display: none;

                &:checked{
                    + ul{
                        transform: translateX(0%);
                        
                    }
                }
            }

        ul{
            background-color: #fff;
            padding-top:10px;
            transform: translateX(+100%);
            transition: transform 0.2s ease-out;
            height: 100vh;
            width: 251px;
            .label{
                padding:12.25px 15.75px;
                .menu-icon{
                    cursor: pointer;
                    font-size:22px;
                    position: absolute;
                    top:8px;
                    left:-35px;
                }
            }

            li{
                width: 215px;
                height: 48px;
                padding:12.25px 15.75px;
                
                &:last-child{
                    margin-top:calc(100vh - 450px);
                }

                a{
                    @include simple-flex(flex-start,flex-start, row);
                    align-items: center;
                    color:$text-color;
                    text-decoration: none;
                    font-size:15px;
                    line-height: 20px;
                    letter-spacing: -0.25px;
                    font-weight: 400;
                    
                    img{
                        margin-right:12.75px;
                    }
                }
            }

        }
    }
    
}

.profile-infos{
    @include simple-flex(flex-start,flex-start, column);
    padding: 0 28px 0 16px;
    .info{
        @include simple-flex(flex-start,center, row);
        .image-border{
            background: linear-gradient(215deg, #c7c7cc, #c7c7cc, #c7c7cc);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 93px;
            height: 93px;

            img{
                @include box-round(86px);
                border: 1.5px solid #fff;
            }
        }
        .statistics{
            margin-left: 32px;
            @include simple-flex(flex-start,flex-start, row);
            .statistics-card{
                @include simple-flex(flex-start,center, column);
                margin-right: 28px;

                span{
                    font-weight: 600;
                    font-size:16px;
                }
                p{
                    font-size:13px;
                }
            }
        }
    }
    
    .bio{
        margin: 12px 0 15px;
        span{
            font-weight: bold;
        }
        span,p,a{
            line-height: 17px;
            font-size: 12px;
        }
        a{
            text-decoration: none;
        }
    }
    .edit-profile{
        background-color: #fff;
        border: 1px solid rgba(60,60,67,0.18);
        border-radius: 6px;
        width: 100%;
        height: 29px;
        @include simple-flex(center,center,row);
        a{
            color: $text-color;
            font-weight: 600;
            text-decoration: none;
        }
    }
}

.profile-highlights{
    .content{
        @include simple-flex(flex-start,flex-start,row);
        width: 100%;
        overflow-x: auto;
        margin-top:16px;
        padding-left: 15px;

        .highlights-item{
            @include simple-flex(center,center, column);
            text-align: center;
            padding:11px 11px 0 11px;

            &:first-child{
                padding-left:0px;
            }

            .img-container{
                border-radius: 50%;
                background: #fff;
                height: 56px;
                width: 56px;
                margin-bottom:4px;

                img{
                    transform: scale(0.3);
                }
            }

            img{
                @include box-round(56px);
                margin-bottom:4px;
                cursor: pointer;
            }
        }
        
    }
}
main{

    .feed-options{
        display: flex;
        border-top:0.5px solid #c3c3c5;
        padding-top: 12px;
        
        .grid-area{
            border-bottom: 1px solid $text-color;
            margin-bottom:0.5px;
        }
        .grid-area,
        .tags-area
        {
            height: 44px;
            width: 186px;
            text-align: center;
        }
    }

    .feed-posts{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 1px;
        img{
            width: 124px;
            height: 125px;
        }
    }

}