@import "../styles.scss";

ul{
    list-style: none;
}
header{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding:0px 0 11px 11px;

    .profile-user{
        display: flex;
        align-items: center;
        padding-top:15px;
        img, span{
            margin-right: 5px;
        }
    }

    nav{
        display: flex;
        position: fixed;
        right: 0;
        #toggle{
                display: none;

                &:checked{
                    + ul{
                        transform: translateX(0%);
                        
                    }
                }
            }

        ul{
            background-color: #fff;
            padding-top:10px;
            transform: translateX(+100%);
            height: 100vh;
            width: 251px;
            .label{
                padding:12.25px 15.75px;
                .menu-icon{
                    cursor: pointer;
                    font-size:22px;
                    position: absolute;
                    top:8px;
                    left:-35px;
                }
            }

            li{
                width: 215px;
                height: 48px;
                padding:12.25px 15.75px;
                
                &:last-child{
                    margin-top:calc(100% - 66px);
                    
                    
                }

                a{
                    display: flex;
                    align-items: center;
                    color: #262626;
                    text-decoration: none;
                    font-size:15px;
                    line-height: 20px;
                    letter-spacing: -0.25px;
                    font-weight: 400;
                    
                    img{
                        margin-right:12.75px;
                    }
                }
            }

        }
    }
}