@import "../styles.scss";
header{
    background-color: $background-primary;
    .search{
        @include simple-flex(space-between, center, row);
        padding: 0 10px 0 8px;

        .search-field{
            background: $background-search-field;
            border-radius: 10px;
            @include simple-flex(flex-start, center, row);
            padding-left:10px;
            width: 327px;

            .search-icon{
                height: 14px;
            }

            #input{
                border: none;
                background: $background-search-field;
                margin-left:12.75px;
                height: 36px;
                width: 90%;
                &:focus{
                    outline: none;
                }
            }
        }

        .live{
            height: 100%;
            padding-left: 10px;
        }
    }
}

nav{
    background-color: $background-primary;
    overflow-x: auto;
    position: sticky;
    top:0;
    padding: 9px 0 0 8px;
    @include simple-flex(flex-start flex-start,row);

    .section{
        background-color: #fff;
        cursor: pointer;
        font-weight: 600;
        @include simple-flex(flex-start, center, row);
        border: 1px solid rgba(60, 60, 67, 0.18);
        border-radius: 6px;
        margin: 0 6px 7px 0;
        padding:8px 11px;
        height: 32px;
        img{
            &:nth-child(1), &:nth-child(2){
                margin-right: 6px;
            }
        }
    }
}


.posts{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:1px;

    img{
        cursor: pointer;
    }
}

