@import "../styles.scss";
header{
    background-color: #FAFAFA;
    .search{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px 0 8px;

        .search-field{
            background: #EAEAEB;
            border-radius: 10px;
            display: flex;
            align-items: center;
            padding-left:10px;
            width: 327px;

            .search-icon{
                height: 14px;
            }

            #input{
                border: none;
                background: #EAEAEB;
                margin-left:12.75px;
                height: 36px;
                width: 90%;
                &:focus{
                    outline: none;
                }
            }
        }

        .live{
            height: 100%;
            padding-left: 10px;
        }
    }
}

