@import "../styles.scss";
header{
    background-color: #FAFAFA;
    .search{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px 0 8px;

        .search-field{
            background: #EAEAEB;
            border-radius: 10px;
            display: flex;
            align-items: center;
            padding-left:10px;
            width: 327px;

            .search-icon{
                height: 14px;
            }

            #input{
                border: none;
                background: #EAEAEB;
                margin-left:12.75px;
                height: 36px;
                width: 90%;
                &:focus{
                    outline: none;
                }
            }
        }

        .live{
            height: 100%;
            padding-left: 10px;
        }
    }
}

nav{
    background-color: #FAFAFA;
    overflow-x: auto;
    position: sticky;
    top:0;
    padding: 9px 0 0 8px;
    display: flex;

    .section{
        background-color: #fff;
        cursor: pointer;
        font-weight: 600;
        display: flex;
        align-items: center;
        border: 1px solid rgba(60, 60, 67, 0.18);
        border-radius: 6px;
        margin: 0 6px 7px 0;
        padding:8px 11px;
        height: 32px;
        img{
            &:nth-child(1), &:nth-child(2){
                margin-right: 6px;
            }
        }
    }
}

